LLM_MODE=online
LLM_MODEL_NAME = "gpt-4.1" # The model name to use for the online LLM (e.g., "gpt-4.1" for ChatGPT)
LLM_API_KEY = "sk-XXXXXXXXXXXXXX" # Your actual API key for the online LLM
EMBEDDING_MODEL_NAME = "text-embedding-3-small"  # The embedding model name to use for the online LLM (e.g., "text-embedding-3-small" for OpenAI embeddings)

RESOURCE_DIR = "resources"
INPUT_DIR = "${RESOURCE_DIR}/input"
OUTPUT_DIR = "${RESOURCE_DIR}/output"