LLM_MODE=local
LLM_BASE_URL = "http://192.168.1.154:1234/v1"
LLM_MODEL_NAME = "openai/gpt-oss-20b"  # Can be emtpy if there's only one model loaded
LLM_API_KEY = ""  # Can be any string, as the API key is not required for this local setup

RESOURCE_DIR = "resources"
INPUT_DIR = "${RESOURCE_DIR}/input"
OUTPUT_DIR = "${RESOURCE_DIR}/output"